body, html {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(index_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s forwards;
}

.box.selected {
    border: 2px solid #000;
}

header {
    background: linear-gradient(to bottom, #333 20%, #333333ec 35%, #333333bb 50%, transparent 98%);
    color: white;
    text-shadow: 1px 1px 9px #000;
    padding: 20px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 9%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

nav .main-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav .wishlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: 0px 0px 3px #000;
    letter-spacing: 5%;
}

nav ul li a:hover {
    text-shadow: 1px 1px 9px #000;
}

main {
    padding: 20px;
    padding-bottom: 60px;
    flex: 1;
}

.subtitle p {
    margin: 0;
    color: #1b2732;
    padding: 5px;
    text-shadow: 1px 1px 3px black;
}

h2 {
    color: #1b2732;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
    letter-spacing: 10%;
}

.subtitle p {
    font-size: 23px;
    padding-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 0 20px;
    justify-items: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.395);
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 13px;
    margin: 8px;
    text-align: center;
    font-size: 18px;
}


#remove-container {
    margin-top: 20px;
    display: none; 
}

.box.selected {
    border: 2px solid #000;
}
.subtitle p {
    font-size: 23px;
    padding-bottom: 30px;
}
.subtitle p {
    font-size: 23px;
    padding-bottom: 30px;
}

.empty-message{
    text-shadow: 1px 1px 2px #000;
    font-size: 30px;
    color: #1b2732e0;
}

.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    min-width: none;
    min-height: none;
}

.remove-button.hidden {
    display: none !important;
}

.remove-button:hover {
    background-color: #d32f2f;
}

.subttl {
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    text-align-last: center;
    padding: 10px;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-shadow: 1px 1px 9px #000;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    header {
        padding: 15px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav {
        flex-direction: column;
    }

    nav .main-nav {
        flex-direction: row;
        gap: 15px;
    }

    nav .wishlist {
        position: relative;
        margin-top: 10px;
        width: 100%;
        padding-left: 10%;
        justify-content: center;

    }

    nav ul {
        justify-content: center;
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    h2 {
        font-size: 30px;
    }

    .subtitle p {
        font-size: 18px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .box {
        max-width: 100%;
    }
}